/compile_commands.json
/.vscode
/.cache
/freestnd-c-hdrs
/src/cc-runtime
/src/limine.h
/src/embedded_modules.h
/bin-*
/obj-*
/target
/src/rust/bindings/bindings*.rs
Cargo.lock
/kallsyms
/kallsyms.S
/kallsyms.o
